<div class="panel panel-default corner-radius panel-active-users">
    <div class="panel-heading text-center">
        <h3 class="panel-title">标签</h3>
    </div>
    <div class="panel-body">
        <div class="users-label">

            <a class="users-label-item" href="https://laravel-china.org/users/5367" title="Ken - 努力努力再努力">
                 Ken
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/22455" title="zxc1462">
                <img class="avatar-small inline-block" src="https://pythoncaffcdn.phphub.org/uploads/images/201801/03/1/xJOU6N13zW.jpg"> zxc1462
            </a>
            

        </div>

    </div>
</div>
