{% extends "layout.html" %}
{% block content %}
<h1></h1>
<div class="panel panel-default">

    <div class="panel-heading">

        <ul class="list-inline topic-filter">
           
            <li class="popover-with-html" data-content="发布时间排序" data-original-title="" title="">
                <a href="" class="active">最近</a>
            </li>
        </ul>

        <div class="clearfix"></div>
    </div>


    <div class="jscroll">
        <div class="jscroll-inner">
            <div class="panel-body remove-padding-horizontal">
                <ul class="list-group row topic-list">
                    {% for post in posts %}
                    <li class="list-group-item ">
                        <a class="reply_count_area hidden-xs pull-right" href="">
                            <div class="count_set">
                                <!-- <span class="count_of_votes" title="投票数">
                                    19
                                </span> -->
                
                                <!-- <span class="count_seperator">/</span> -->
                
                                <!-- <span class="count_of_replies" title="回复数">
                                    10
                                </span>
                
                                <span class="count_seperator">/</span>
                
                                <span class="count_of_visits" title="查看数">
                                    189
                                </span>
                                <span class="count_seperator">|</span> -->
                
                                <abbr title="{{post.updatedAt}}" class="timeago">{{post.updatedAt}}</abbr>
                            </div>
                        </a>
                
                        <div class="avatar pull-left">
                            <a href="https://laravel-china.org/users/1" title="Summer">
                                <img class="media-object img-thumbnail avatar avatar-middle" alt="Summer" src="https://lccdn.phphub.org/uploads/avatars/1_1479342408.png?imageView2/1/w/100/h/100">
                            </a>
                        </div>
                
                
                        <div class="infos">
                
                            <div class="media-heading">
                
                                <span class="hidden-xs label label-warning">置顶</span>
                
                                <a href="https://laravel-china.org/topics/8334/hello-the-document-system-has-been-upgraded-to-prepare-for-the-next-document-translation-work"
                                    title="{{post.title}}">
                
                                   
                
                
                                </a>
                
                
                            </div>
                
                        </div>
                
                    </li>
                     {% endfor %}
                </ul>
            </div>

            <div class="panel-footer text-right remove-padding-horizontal pager-footer" style="display: none;">
                <!-- Pager -->
                <ul class="pagination">

                    <li class="disabled">
                        <span>«</span>
                    </li>





                    <li class="active">
                        <span>1</span>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=2">2</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=3">3</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=4">4</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=5">5</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=6">6</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=7">7</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=8">8</a>
                    </li>

                    <li class="disabled">
                        <span>...</span>
                    </li>





                    <li>
                        <a href="https://laravel-china.org?page=19">19</a>
                    </li>
                    <li>
                        <a href="https://laravel-china.org?page=20">20</a>
                    </li>


                    <li>
                        <a href="https://laravel-china.org?page=2" rel="next">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block side %}

<div class="panel panel-default corner-radius sidebar-resources">
    <div class="panel-heading text-center">
        <h3 class="panel-title">实战课程</h3>
    </div>
    <div class="panel-body">

        <div id="carousel-books" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators" style="border-radius: 12px;background-color: hsla(0,0%,100%,.3);margin-bottom: 0px;padding: 4px 8px;">
                <li data-target="#carousel-books" data-slide-to="0" class="" style="border: 1px solid #ff8580;background-color: #f4665f;"></li>
                <li data-target="#carousel-books" data-slide-to="1" class="active" style="border: 1px solid #ff8580;background-color: #f4665f;"></li>
                <li data-target="#carousel-books" data-slide-to="2" class="" style="border: 1px solid #ff8580;background-color: #f4665f;"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <a href="https://laravel-china.org/topics/3383/laravel-the-first-chinese-new-book-laravel-tutorial" target="&quot;_blank&quot;">
                        <img src="https://lccdn.phphub.org/uploads/banners/YpxKKNlSPdmwotO3u8An.jpg" alt="《Laravel 入门教程 - 从零到部署上线》" title="《Laravel 入门教程 - 从零到部署上线》">
                    </a>
                </div>
                <div class="item active">
                    <a href="https://laravel-china.org/topics/6592" target="&quot;_blank&quot;">
                        <img src="https://lccdn.phphub.org/uploads/banners/iNanVVOXdnYQ6jRfMdWE.png" alt="《Laravel 进阶课程 - 从零构建论坛系统》" title="《Laravel 进阶课程 - 从零构建论坛系统》">
                    </a>
                </div>
                <div class="item">
                    <a href="https://laravel-china.org/topics/7657" target="&quot;_blank&quot;">
                        <img src="https://lccdn.phphub.org/uploads/banners/tEd4GxhMp6VMh9e0hrUH.jpg" alt="《Laravel 教程实战高级 - 构架 API 服务器》" title="《Laravel 教程实战高级 - 构架 API 服务器》">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="panel panel-default corner-radius panel-active-users">
    <div class="panel-heading text-center">
        <h3 class="panel-title">活跃用户</h3>
    </div>
    <div class="panel-body">
        <div class="users-label">

            <a class="users-label-item" href="https://laravel-china.org/users/5367" title="Ken - 努力努力再努力">
                <img class="avatar-small inline-block" src="https://lccdn.phphub.org/uploads/avatars/5367_1519545262.jpg?imageView2/1/w/100/h/100"> Ken
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/22455" title="zxc1462">
                <img class="avatar-small inline-block" src="https://pythoncaffcdn.phphub.org/uploads/images/201801/03/1/xJOU6N13zW.jpg"> zxc1462
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/22421" title="yangwb1">
                <img class="avatar-small inline-block" src="https://pythoncaffcdn.phphub.org/uploads/images/201801/03/1/wbpiaoMqhD.jpg"> yangwb1
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/1" title="Summer - A Life-long learner. ">
                <img class="avatar-small inline-block" src="https://lccdn.phphub.org/uploads/avatars/1_1479342408.png?imageView2/1/w/100/h/100"> Summer
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/6831" title="SadCreeper">
                <img class="avatar-small inline-block" src="https://lccdn.phphub.org/uploads/avatars/6831_1478794621.jpeg?imageView2/1/w/100/h/100"> SadCreeper
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/22404" title="cyisme1221">
                <img class="avatar-small inline-block" src="https://pythoncaffcdn.phphub.org/uploads/images/201801/03/1/ow6ZdlsdS2.jpg"> cyisme1221
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/21212" title="山海王子">
                <img class="avatar-small inline-block" src="https://pythoncaffcdn.phphub.org/uploads/images/201801/03/1/o9NW9VelF3.jpg"> 山海王子
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/3995" title="liyu001989">
                <img class="avatar-small inline-block" src="https://lccdn.phphub.org/uploads/avatars/3995_1516760409.jpg?imageView2/1/w/100/h/100"> liyu001989
            </a>

        </div>

    </div>
</div>

<div class="panel panel-default corner-radius panel-hot-topics">
    <div class="panel-heading text-center">
        <h3 class="panel-title">七天内最热</h3>
    </div>
    <div class="panel-body">
        <ul class="list">
            <li>
                <a href="https://laravel-china.org/articles/8168/my-2018-the-key-word-accumulation" title="我的 2018 ，关键词 —— 『积累』">

                    🏆 我的 2018 ，关键词 —— 『积累』
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/articles/8207/5-auxiliary-functions-that-make-your-development-easier" title="5 个让你的开发更加轻松的辅助函数">

                    2. 5 个让你的开发更加轻松的辅助函数
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/articles/8237/1-my-first-php-extension" title="1. 我的第一个 PHP 扩展">

                    3. 1. 我的第一个 PHP 扩展
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/articles/8220/add-a-visitor-to-your-website-and-have-a-lot-of-interesting-discoveries"
                    title="给自己的网站加一个访客统计吧，有很多有趣的发现">

                    4. 给自己的网站加一个访客统计吧，有很多有趣的发现
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/topics/8334/hello-the-document-system-has-been-upgraded-to-prepare-for-the-next-document-translation-work"
                    title="哈喽，文档系统已升级完成，已为接下来的文档翻译工作做好准备">

                    5. 哈喽，文档系统已升级完成，已为接下来的文档翻译工作做好准备
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/topics/8294/extension-recommendation-larsjanssen6underconstruction-set-passwords-for-the-maintenance-mode-of-the-site"
                    title="[扩展推荐] larsjanssen6/underconstruction 为站点的『维护模式』设置通行密码 ">

                    6. [扩展推荐] larsjanssen6/underconstruction 为站点的『维护模式』设置通行密码
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/topics/8211/download-laravel-failed-to-decode-response-zlib-decode-data-error-error-why-is-it-not-possible-to-use-composer-self-update-on-the-virtual-machine"
                    title="下载 Laravel 出现 Failed to decode response: zlib_decode (): data error 错误， 为什么 虚拟机上 使用 Composer self-update 也不行？">

                    7. 下载 Laravel 出现 Failed to decode response: zlib_decode (): data error 错误， 为什么 虚拟机上 使用 Composer self-update 也不行？
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/articles/8327/surprised-it-was-the-first-of-the-baidu" title="惊了！竟然刷到了百度第一">

                    8. 惊了！竟然刷到了百度第一
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/topics/8187/error-returns-when-using-jwts-token-authentication-unable-to-authenticate-with-invalid-token"
                    title="使用 JWT 的 token 认证的时候发生错误返回：Unable to authenticate with invalid token ？">

                    9. 使用 JWT 的 token 认证的时候发生错误返回：Unable to authenticate with invalid token ？
                </a>
            </li>
            <li>
                <a href="https://laravel-china.org/topics/8252/hangzhou13-25k-php-development-engineer-2-engineers" title="[杭州][13-25k] 威风出行 PHP 开发工程师 2 名">

                    10. [杭州][13-25k] 威风出行 PHP 开发工程师 2 名
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="panel panel-default corner-radius">
    <div class="panel-body text-center sidebar-sponsor-box">
        <a class="sidebar-sponsor-link" href="https://www.ucloud.cn/site/active/gift.html?utm_source=laravel-china&amp;utm_medium=content_pic_pc&amp;utm_campaign=multicloud&amp;utm_content=gift&amp;ytag=laravel-china"
            target="_blank">
            <img src="https://lccdn.phphub.org/uploads/images/201704/12/1/AAS9hrhk8K.jpg" class="popover-with-html" data-content="服务器赞助商：UCloud"
                width="100%" data-original-title="" title="">
        </a>
        <hr>
        <a class="sidebar-sponsor-link" href="https://www.upyun.com/solutions/wechat?utm_source=ruby&amp;utm_medium=Referral&amp;utm_content=ad"
            target="_blank">
            <img src="https://lccdn.phphub.org/uploads/banners/cgCJy4ShlSzY42cm2RBv.jpg" class="popover-with-html" data-content="Composer 镜像赞助商"
                width="100%" data-original-title="" title="">
        </a>
        <hr>
        <a class="sidebar-sponsor-link" href="https://www.yunpian.com/activity/wawi?utm_source=lavarel&amp;utm_campaign=kun" target="_blank">
            <img src="https://lccdn.phphub.org/uploads/banners/PI6p6Vnkeb4reCHfv05X.png" class="popover-with-html" data-content="短信赞助商：云片"
                width="100%" data-original-title="" title="">
        </a>
        <hr>
    </div>
</div>

<div class="panel panel-default corner-radius">
    <div class="panel-heading text-center">
        <h3 class="panel-title">友情社区</h3>
    </div>
    <div class="panel-body text-center" style="padding-top: 5px;">
        <a href="https://ruby-china.org" target="_blank" rel="nofollow" title="Ruby China" style="padding: 3px;line-height: 40px;">
            <img src="https://lccdn.phphub.org/assets/images/friends/ruby-china.png" style="width:150px; margin: 3px 0;">
        </a>
        <a href="https://pythoncaff.com" target="_blank" rel="nofollow" title="PythonCaff 社区" style="padding: 3px;line-height: 40px;">
            <img src="https://lccdn.phphub.org/uploads/banners/t8haiJA74SLAJj1aL1xv.png" style="width:150px; margin: 3px 0;">
        </a>
        <a href="http://cnodejs.org/" target="_blank" rel="nofollow" title="CNode：Node.js 中文社区" style="padding: 3px;line-height: 40px;">
            <img src="https://lccdn.phphub.org/assets/images/friends/cnodejs.png" style="width:150px; margin: 3px 0;">
        </a>
        <a href="https://testerhome.com" target="_blank" rel="nofollow" title="Tester Home" style="padding: 3px;line-height: 40px;">
            <img src="https://lccdn.phphub.org/testerhome-logo.png" style="width:150px; margin: 3px 0;">
        </a>
        <a href="https://www.easywechat.com/" target="_blank" rel="nofollow" title="EasyWeChat 微信开发，从未如此简单" style="padding: 3px;line-height: 40px;">
            <img src="https://lccdn.phphub.org/uploads/banners/yN7mJNvKsNvfwYSZw2Yp.png" style="width:150px; margin: 3px 0;">
        </a>
    </div>
</div>



<div id="sticker">

    <div class="panel panel-default corner-radius sidebar-resources">
        <div class="panel-heading text-center">
            <h3 class="panel-title">推荐资源</h3>
        </div>
        <div class="panel-body">
            <ul class="list list-group ">
                <li class="list-group-item ">
                    <a href="http://d.laravel-china.org/" class="no-pjax" target="&quot;_blank&quot;" title="Laravel 中文文档">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/ql9XtosRhTe4v8HVC3TV.jpg"> Laravel 中文文档
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://cs.laravel-china.org/" class="no-pjax" target="&quot;_blank&quot;" title="Laravel 速查表">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/cV55gsrH70qz6VdKr502.jpg"> Laravel 速查表
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.org/contact" class="no-pjax" target="&quot;_blank&quot;" title="Laravel 软件外包">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/v89tIQ6vjceA6g7JmrQB.png"> Laravel 软件外包
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.github.io/php-the-right-way/" class="no-pjax" target="&quot;_blank&quot;" title="《PHP 之道》">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/vA50AYuscu2RCMowq7ee.png"> 《PHP 之道》
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.org/composer" class="no-pjax" target="&quot;_blank&quot;" title="Composer 中文镜像">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/KltcLb6leMa12dvTAxD7.png"> Composer 中文镜像
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.org/topics/2530/the-highest-amount-of-downloads-of-the-100-laravel-extensions-recommended"
                        class="no-pjax" target="&quot;_blank&quot;" title="Laravel 扩展 Top100">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/i8eVQdOiRqfK5uOEjULq.png"> Laravel 扩展 Top100
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.org/courses/laravel-specification" class="no-pjax" target="&quot;_blank&quot;" title="Laravel 开发规范">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/slO0QIXjwi1Qmz8PIrgc.png"> Laravel 开发规范
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.org/topics/7227/laravel-introductory-guide" class="no-pjax" target="&quot;_blank&quot;" title="Laravel 新手入门指南">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/ranAAzKyvJdx1Cpj0LKH.png"> Laravel 新手入门指南
                    </a>
                </li>
                <li class="list-group-item ">
                    <a href="https://laravel-china.org/categories/1" class="no-pjax" target="&quot;_blank&quot;" title="Laravel / PHP 工作">
                        <img class="media-object inline-block " src="https://lccdn.phphub.org/uploads/banners/vCE4hPLqVg9bBYnPYkZJ.png"> Laravel / PHP 工作
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="panel panel-default corner-radius" style="color:#a5a5a5">
        <div class="panel-body text-center">
            <a href="mailto:summer@yousails.com" style="color:#a5a5a5">
                <span style="margin-top: 7px;display: inline-block;">
                    <i class="fa fa-heart" aria-hidden="true" style="color: rgba(232, 146, 136, 0.89);"></i> 建议反馈？请私信 Summer
                </span>
            </a>
        </div>
    </div>

</div>


{% endblock %}
