<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
</head>
<body>
    <div id="wrap">
    {% include "partion/nav.html" %}
<div class="container main-container ">


    <div class="col-md-9 topics-index main-col">


        {% block content %}{% endblock %}
 
    
    </div>

    <div class="col-md-3 side-bar">
        {% include "partion/side.html" %}
        
    </div>
    <div class="clearfix"></div>




</div>
    </div>
<script src="/javascripts/script.js"></script>
</body>
</html>